body {
    font-family: Bahnschrift;
    margin:0;
    color: black;
    background-color: rgb(248, 248, 248);
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 10px rgb(39, 39, 39);
    width: 100%;
  }
    
  .navbar a {
    float: left;
    font-size: 1.2em;
    color:black;
    text-align: center;
    padding: 22px 10px;
    margin: 2px;
    text-decoration: none;
  }

  .navbar a:hover {
    color: rgb(0, 48, 179) ;
    font-weight: 550;
  }

  section#intro {
    background: url(./images/background.png) no-repeat bottom/cover;
    width: 100%;
    height: 100vh;
  }

  #intro .content {
    position: absolute;
    padding: 2em;
    align-items: center;
    color: white;
    font-size: 1em;
    width: 70%;
  }

  section#service{
    background-color: rgb(248, 248, 248);
    text-align: center;
    padding: 2em;
  }

  #table1{
    table-layout: fixed;
    border-spacing: 1em;
  }

  .td1{
    box-shadow: 2px 2px 7px rgb(175, 175, 175);
    padding: 2em;
    background-color: white;
    border-radius: 1em;
  }

  section#teamh{
    padding: 2em;
    background-color: rgb(64, 18, 154);
  }

  section#tech{
    padding: 2em;
    background-color: rgb(248, 248, 248);
    text-align: center;
  }

  #tech img{
    width: 130px;
  }

  section#consumer{
    padding: 2em;
    background-color: rgb(64, 18, 154);
    align-items: center;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block
  }

  section#footer {
    padding: 2em;
    padding-bottom: 0.5em;
    left: 0;
    bottom: 0;
    background-color: rgb(255, 255, 255); 
    text-align: center;
  }